<h2>Projects</h2>

<ng-container *ngIf="projetos$ | async as p">
  <div *ngIf="p.status === 'loading'">Carregando...</div>
  <div *ngIf="p.status === 'error'" style="color: red;">{{ p.message }}</div>

  <table *ngIf="p.status === 'success'" border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>ações</th>
    </tr>
  </thead>
  <tbody>
    
        <tr *ngFor="let p of p.data">
          <td>{{ p?.id }}</td>
          <td>{{ p?.name }}</td>
          <td>{{ p?.description }}</td>
          <td>
            <button type="button" (click)="openEditModal(p)">Editar</button>
            <button type="button" (click)="openDeleteModal(p)">Excluir</button>
          </td>
        </tr>
        <tr *ngIf="p.data.length === 0">
          <td colspan="3">Nenhum projeto encontrado.</td>
        </tr>

  </tbody>
</table>
</ng-container>

<!-- Modal para deletar projeto -->
<div class="modal" *ngIf="showDeleteModal">
  <div class="modal-content">
    <span (click)="closeDeleteModal()" class="close">&times;</span>
    <h2>Excluir Projeto</h2>
    <p>Tem certeza que deseja excluir o projeto?</p>
    <button type="button" (click)="deleteProjectById()">Sim</button>
    <button type="button" (click)="closeDeleteModal()">Não</button>
  </div>
</div>

<!-- Modal para buscar por ID -->
<div class="modal" *ngIf="showSearchByIdModal">
  <div class="modal-content">
    <span (click)="closeSearchByIdModal()" class="close">&times;</span>
    <h2>Buscar por ID</h2>
    <input type="text" id="searchById" [(ngModel)]="searchId" placeholder="Digite o ID do projeto" />
    <button type="button" (click)="searchProjectById()">Buscar</button>
    <div *ngIf="searchResult">
      <h3>Resultado da busca:</h3>
      <p>ID: {{ searchResult?.id }}</p>
      <p>Nome: {{ searchResult?.name }}</p>
      <p>Descrição: {{ searchResult?.description }}</p>
    </div>
  </div>
</div>

<!-- importar component projeto create para cá e consiga utiliza o component nessa tela aqui-->
<app-projeto-create  (created)="refresh$.next()"></app-projeto-create>
<!-- importar component projeto edit para cá e consiga utiliza o component nessa tela aqui-->
<app-projeto-edit   *ngIf="showEditModal"
  [project]="selectedProject"
  (updated)="refresh$.next()"
  (close)="closeEditModal()"></app-projeto-edit>
  
